<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Miss 清单</title>
    <link rel="stylesheet" href="lib/element.css">
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="https://iming.work/favicon.ico" type="image/x-icon" />
</head>
<body>
<div id="app">
    <router-view></router-view>
</div>
<script src="lib/vue.js"></script>
<script src="lib/router.js"></script>
<script src="lib/element.js"></script>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.10.0/dist/av-min.js"></script>
<script src="nw.config.js"></script>
<script src="cache.js"></script>
<script src="db.js"></script>
<script src="lib/drag/utils.js"></script>
<script src="lib/drag/drag.js"></script>
<script src="lib/drag/index.js"></script>
<!--<script src="../node_modules/awe-dnd/vue-dragging.es5.js"></script>-->
<script id="app-tpl" type="text/html">
    <div class="todo__wrap">
        <p class="auto-save">
            <span class="user" @click="$router.push('/login')">
                当前用户：{{ currentUser.username }}
                <i class="el-icon-caret-bottom"></i>
            </span>
            <span v-if="autoSave === 0">
                <i class="el-icon-refresh"></i>
                未保存
            </span>
            <span v-else-if="autoSave === 1">
                <i class="el-icon-loading"></i>
                保存中
            </span>
            <span v-else>
                <i class="el-icon-refresh"></i>
                保存成功
            </span>
        </p>
        <div class="todo__category">
            <el-tabs v-model="activeTabName" stretch>
                <el-tab-pane label="清单列表" name="first">
                    <template>
                        <div class="todo__add" @click="toAddTodo">
                            <i class="el-icon-plus"></i>
                            <span>添加清单</span>
                        </div>
                        <div class="todo__cate">
                            <category-item
                                v-for="(item, i) in todoList"
                                :key="item.objectId"
                                :item="item"
                                :data-index="i"
                                :active-id="activeCategoryId"
                                @click.native="selectCategory(item)"
                                @contextmenu.native.prevent="e => toEditTodo(e, item)"
                            >
                            </category-item>
                        </div>
                    </template>

                </el-tab-pane>
                <el-tab-pane label="数据统计" name="second" disabled>数据统计</el-tab-pane>
            </el-tabs>
        </div>
        <div class="todo__list" :style="appColumWidth">
            <div class="todo__list--wrap">
                <div class="todo__list--top" v-if="currentCategory.name !== undefined">
                    <h2>{{ currentCategory.name }}</h2>
                    <el-input
                        v-model="newListName"
                        :placeholder="`添加任务至 ''${currentCategory.name}''`"
                        @change="addListToCategory()"
                    >
                    </el-input>
                </div>
                <div class="todo__list--unComplete">
                    <category-item
                        v-for="(item, i) in currentCategoryList.unComplete"
                        :ref="`list-${item.id}`"
                        :key="item.id"
                        :item="{ ...item, color: currentCategory.color }"
                        :active-id="activeListId"
                        :data-index="i"
                        has-checkbox
                        @click.native="selectList(item)"
                    >
                    </category-item>
                </div>
                <div class="todo__list--complete" v-show="currentCategoryList.complete.length">
                    <div class="todo__list--complete-title" @click="toggleSpreadComplete">
                        <span>
                            <i :class="isSpreadComplete ? 'el-icon-caret-bottom' : 'el-icon-caret-right'"></i>
                            已完成
                        </span>
                        <span v-if="!isSpreadComplete">{{ currentCategoryList.complete.length }}</span>
                    </div>
                    <div class="todo__list--complete-wrap" v-show="isSpreadComplete">
                        <category-item
                            v-for="(item, i) in currentCategoryList.complete"
                            :ref="`list-${item.id}`"
                            :key="item.id"
                            :item="{ ...item, color: currentCategory.color }"
                            :active-id="activeListId"
                            :data-index="i"
                            has-checkbox
                            @click.native="selectList(item)"
                        >
                        </category-item>
                    </div>
                </div>
                <p v-if="!currentCategory.list || !currentCategory.list.length" class="todo__empty--data">没有任务呢，放松一下</p>
            </div>
        </div>
        <div class="todo__content" :style="appColumWidth">
            <div class="todo__content--wrap">
                <template v-if="currentList.name">
                    <div class="todo__content--top">
                        <h2>{{ currentList.name }}</h2>
                    </div>
                    <div class="todo__content--area">
                        <el-input
                            type="textarea"
                            placeholder="请输入内容"
                            :value="currentList.content"
                            :autosize="{ minRows: 15 }"
                            @input="updateList"
                        >
                        </el-input>
                    </div>
                </template>
                <p v-else class="todo__empty--data">点击任务列表查看详情</p>
            </div>
        </div>

        <el-dialog
            :title="currentEditItem ? '编辑清单' : '添加清单'"
            :visible.sync="dialogAddTodo"
            width="440px"
        >
            <el-form :model="form" :rules="rules" ref="addForm">
                <el-form-item label="清单名称" label-width="80px" prop="name">
                    <el-input v-model="form.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="清单颜色" label-width="80px">
                    <el-radio-group v-model="form.color">
                        <el-radio v-for="item in colorConstant" :key="item.id" :label="item.value">
                            <div class="todo__color-demo" :class="{ 'todo__color-demo-active': item.value === form.color }" :style="{ backgroundColor: item.value }"></div>
                        </el-radio>
                    </el-radio-group>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="cancelForm()">取 消</el-button>
                <el-button type="danger" v-if="currentEditItem" @click="deleteCategory()">删除清单</el-button>
                <el-button type="primary" @click="submitForm()">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</script>
<script type="text/html" id="category-tpl">
    <div class="category-item" :style="{ borderColor: item.color }" :data-index="dataIndex">
        <div
            class="category-item__content"
            :class="{
                'category-item__content--active': activeId === item[hasCheckbox ? 'id' : 'objectId']
            }"
        >
            <template v-if="false">
                <div
                    v-if="item[hasCheckbox ? 'id' : 'objectId'] === activeId || !hasCheckbox"
                    class="category-item__drag"
                >
                    <i class="el-icon-sort"></i>
                </div>
                <div
                    v-else
                    class="category-item__empty"
                >
                    <i class="el-icon-sort"></i>
                </div>
            </template>
            <div v-else :style="{ height: '40px', width: hasCheckbox ? '22px' : '10px' }"></div>
            <div
                class="category-item__word"
                :class="{ 'category-item__word-border': hasCheckbox }"
            >
                <template v-if="hasCheckbox">
                    <el-checkbox
                        :value="item.isComplete"
                        @change="updateCheckbox"
                        @click.native.stop=""
                    >
                    </el-checkbox>
                    <input
                        type="text"
                        class="input"
                        ref="input"
                        :value="inputValue !== undefined ? inputValue : item.name"
                        placeholder="请输入任务名称"
                        @input="updateListName"
                        @keyup.delete="$parent.deleteListName"
                    >
                </template>
                <span class="category-item__word-wrap" v-else>{{ item.name }}</span>
            </div>
            <span v-if="!hasCheckbox" class="category-item__unCompleteNum">
                {{ (item.list || []).filter(x => x.isComplete !== true).length || '' }}
            </span>
        </div>
    </div>
</script>
<script type="text/html" id="login-tpl">
    <div class="login">
        <div class="login__form">
            <template v-if="hasLogin">
                <h1>Miss 清单 系统</h1>
                <div class="bottom-info">
                    <p><span>当前登录用户：{{ currentUser.username }}</span></p>
                    <p>
                        <el-button size="mini" type="primary" @click="$router.push('/')">进入系统</el-button>
                        <el-button size="mini" type="danger" @click="handleOut">退出登录</el-button>
                    </p>
                </div>
                <div class="bottom-info" v-if="false">
                    <el-button size="mini">导入数据</el-button>
                    <el-button size="mini">导出数据</el-button>
                    <el-button size="mini">同步服务器数据</el-button>
                </div>
            </template>
            <template v-else>
                <h1>{{ isLogin ? '登录' : '注册' }} Miss 清单 系统</h1>
                <el-form
                    label-position="right"
                    label-width="80px"
                    :model="formLabelAlign"
                    :rules="rules"
                    ref="ruleForm"
                >
                    <el-form-item label="用户名" prop="name">
                        <el-input v-model="formLabelAlign.name"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="password">
                        <el-input type="password" v-model="formLabelAlign.password"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm()">立即{{ isLogin ? '登录' : '注册' }}</el-button>
                        <el-button @click="resetForm()">重置</el-button>
                    </el-form-item>
                </el-form>
                <div class="bottom-info">
                    <router-link v-if="isLogin" to="/login?register=1">没有账号，去注册</router-link>
                    <router-link v-else to="/login">去登录</router-link>
                </div>
            </template>
        </div>
    </div>
</script>
<script>
  // Vue.use(VueDragging)
  Vue.component('category-item', {
    data() {
      return {
        inputValue: undefined
      }
    },
    props: {
      item: Object,
      activeId: String,
      hasCheckbox: {
        type: Boolean,
        default: false
      },
      dataIndex: {
        type: Number,
        default: 0
      }
    },
    methods: {
      updateCheckbox(val) {
        this.$parent.updateCategory('list', {
          ...this.item,
          isComplete: val
        }, false)
      },
      updateListName(e) {
        this.inputValue = e.target.value
        this.$parent.updateList(e.target.value, 'name')
      }
    },
    template: document.getElementById('category-tpl').innerHTML
  })

  const App = {
    data() {
      return {
        currentUser: db.getCurrentUser(),
        appColumWidth: { width: 0 },
        activeTabName: 'first',
        todoList: [],
        activeCategoryId: 0,
        activeListId: 0,
        newListName: '',
        newListDetail: '',
        autoSave: 0,
        dialogAddTodo: false,
        spreadCompleteMap: {},
        form: {
          name: '',
          color: ''
        },
        rules: {
          name: [
            { required: true, message: '请输入清单名称', trigger: 'blur' },
            { min: 1, max: 50, message: '长度在 1 到 50 个字符', trigger: 'blur' }
          ]
        },
        colorConstant: [
          { id: 0, value: '' },
          { id: 1, value: '#339999' },
          { id: 2, value: '#9933CC' },
          { id: 3, value: '#FFCC33' },
          { id: 4, value: '#6666CC' },
          { id: 5, value: '#CC3333' },
          { id: 6, value: '#663366' },
          { id: 7, value: '#FF99CC' },
          { id: 8, value: '#66CCCC' },
          { id: 9, value: '#CCCCCC' }
        ],
        currentEditItem: null,
        timer: null,
        sortMap: {}
      }
    },
    computed: {
      // 当前清单对象
      currentCategory() {
        return this.todoList.find(x => x.objectId === this.activeCategoryId) || {}
      },
      // 当前任务对象
      currentList() {
        return this.currentCategory.list ?
          this.currentCategory.list.find(x => x.id === this.activeListId) || {} :
          {}
      },
      // 当前任务列表 分为已完成 未完成
      currentCategoryList() {
        let complete = []
        let unComplete = []
        if (this.currentCategory.list) {
          complete = this.currentCategory.list.filter(x => x.isComplete)
          unComplete = this.currentCategory.list.filter(x => !x.isComplete)
        }
        return { complete, unComplete }
      },
      // 是否显示 当前清单的已完成列表
      isSpreadComplete() {
        return this.spreadCompleteMap[this.activeCategoryId] !== false
      }
    },
    created() {
      this.init()
    },
    mounted() {
      const leftWidth = document.querySelector('.todo__category').getBoundingClientRect().width
      this.setAppColumWidth(leftWidth)

      window.addEventListener('resize', () => {
        this.setAppColumWidth(leftWidth)
      })
    },
    methods: {
      setAppColumWidth(leftWidth) {
        this.appColumWidth.width = `${(document.body.offsetWidth - leftWidth) / 2}px`
      },
      toggleSpreadComplete() {
        this.$set(this.spreadCompleteMap, this.activeCategoryId, !this.isSpreadComplete)
      },
      // 去添加清单
      toAddTodo() {
        this.currentEditItem = null
        this.form.name = ''
        this.form.color = ''
        this.dialogAddTodo = true
      },
      // 去编辑清单
      toEditTodo(ev, item) {
        if (window.nw) {
          const todoListMenu = new nw.Menu()
          todoListMenu.append(new nw.MenuItem({
            label: '编辑',
            click: () => {
              this.currentEditItem = item
              this.form.name = this.currentEditItem.name
              this.form.color = this.currentEditItem.color
              this.dialogAddTodo = true
              this.selectCategory(item)
            }
          }))
          todoListMenu.append(new nw.MenuItem({
            label: '删除' ,
            click: () => {
              this.deleteCategory()
            }
          }))
          todoListMenu.popup(ev.x, ev.y)
        } else {
          this.currentEditItem = item
          this.form.name = this.currentEditItem.name
          this.form.color = this.currentEditItem.color
          this.dialogAddTodo = true
          this.selectCategory(item)
        }
      },
      init() {
        const loading = this.$loading()
        Promise.all([db.getTodoList(), db.getSortById(0)]).then(res => {
          loading.close()
          if (res[1]) {
            this.sortMap[res[1].pid] = res[1]
            this.sortList(res[1].list, res[0])
          } else {
            this.todoList = res[0]
          }
          if (this.todoList.length) {
            this.activeCategoryId = this.todoList[0].objectId
            this.setActiveListId()
          }
          // 初始化拖拽
          const drag = new Drag({
            selector: '.category-item',
            forbiddenSelector: '.input',
            downCallBack(elem) {
              beforeAdd()
            },
            moveCallBack(elem, { x, y }, originNode) {
              elem.classList.add('dragging')
              addTargetLine(x, y, originNode)
            },
            upCallBack: (elem) => {
              elem.classList.remove('dragging')
              removeTargetLine()
              const result = updateSort(elem)
              if (result) {
                // 对比排序是否发生变化
                let isChange = false
                for (let i = 0; i < result.sort.length; i++) {
                  if (result.sort[i] > result.sort[(i + 1) === result.sort.length ? result.sort.length - 1 : (i + 1)]) {
                    isChange = true
                  }
                }
                console.log('isChange', isChange)
                isChange && this.resort(result)
              }
            }
          })
        })
      },
      // 根据排序数组给清单排序
      sortList(sortList, list) {
        this.todoList = sortList.map(objectId => {
          return list.find(item => item.objectId === objectId)
        })
      },
      // 重新排序清单 或 任务
      resort(result) {
        const { container, sort } = result
        const userId = this.currentUser.objectId
        const loading = this.$loading()
        if (container.classList.contains('todo__cate')) {
          const finalSort = sort.map(i => this.todoList[i].objectId)
          if (this.sortMap[userId]) {
            // update
            return db.updateSortById(this.sortMap[userId].objectId, { list: finalSort }).then(() => {
              loading.close()
              this.sortList(finalSort, this.todoList)
            })
          } else {
            // save
            return db.saveSortById({
              type: 'root',
              list: finalSort,
              pid: userId
            }).then(() => {
              loading.close()
              this.sortList(finalSort, this.todoList)
            })
          }
        } else {
          const isUn = container.classList.contains('todo__list--unComplete')
          const { complete, unComplete } = this.currentCategoryList
          const { objectId } = this.currentCategory
          const final = sort.map(i => isUn ? unComplete[i] : complete[i])
          const index = this.todoList.findIndex(x => x.objectId === objectId)
          const data = {
            list: isUn ? final.concat(complete) : [].concat(unComplete, final)
          }
          db.updateTodo(data, objectId).then(() => {
            this.todoList[index].list = data.list
            const temp = this.todoList
            this.todoList = []
            this.$nextTick(() => {
              this.todoList = temp
            })
            loading.close()
          })
        }
      },
      // 添加清单
      submitForm() {
        this.$refs['addForm'].validate((valid) => {
          if (valid) {
            const loading = this.$loading()
            if (this.currentEditItem) {
              db.updateTodo(this.form, this.currentEditItem.objectId).then(() => {
                loading.close()
                const index = this.todoList.findIndex(x => x.objectId === this.currentEditItem.objectId)
                this.$set(this.todoList, index, { ...this.currentCategory, ...this.form })
                this.$message({
                  message: '修改成功',
                  type: 'success'
                })
                this.cancelForm()
              })
            } else {
              const user = db.getCurrentUser()
              const reqData = {
                ...this.form,
                userId: user.objectId,
                userName: user.username
              }
              db.addTodo(reqData).then(res => {
                loading.close()
                this.cancelForm()
                this.$message({
                  message: '添加成功',
                  type: 'success'
                })
                reqData.objectId = res.objectId
                this.todoList.unshift(reqData)
                this.activeCategoryId = res.objectId
              })
            }
          } else {
            return false
          }
        })
      },
      // 取消添加
      cancelForm() {
        this.$refs['addForm'].resetFields()
        this.dialogAddTodo = false
      },
      // 修改清单内容
      updateCategory(field, val, hasLoading = true) {
        let data
        if (field === 'list') {
          if (!this.currentCategory.list) {
            this.currentCategory.list = []
          }
          const index = this.currentCategory.list.findIndex(x => x.id === val.id)
          if (index > -1) {
            // 修改任务内容
            this.$set(this.currentCategory.list, index, val)
          } else {
            // 处理新增任务
            this.activeListId = val.id
            this.currentCategory.list.unshift(val)
            const itemIndex = this.todoList.findIndex(x => x.objectId === this.currentCategory.objectId)
            this.$set(this.todoList, itemIndex, this.currentCategory)
          }
          data = { list: this.currentCategory.list }
        } else {
          data = { [field]: val }
          this.currentCategory[field] = val
        }
        // console.log(data)
        const loading = hasLoading && this.$loading()
        return db.updateTodo(data, this.currentCategory.objectId).then(res => {
          hasLoading && loading.close()
          return res
        })
      },
      // 删除清单
      deleteCategory() {
        this.$confirm('确定要删除该清单吗').then(() => {
          db.deleteList(this.activeCategoryId).then(index => {
            this.todoList.splice(index, 1)
            if (this.todoList.length) {
              this.activeCategoryId = this.todoList[0].objectId
              // this.activeListId = list && list[0] ? list[0].id : 0
              this.setActiveListId()
            }
            this.cancelForm()
          })
        })
      },
      // 添加任务
      addListToCategory() {
        if (this.newListName.trim()) {
          const data = { id: Date.now(), name: this.newListName }
          this.newListName = ''
          this.updateCategory('list', data, false)
        }
      },
      // 修改任务内容
      updateList(val, field = 'content') {
        if (this.timer) {
          clearTimeout(this.timer)
          this.timer = null
        }
        const common = () => {
          this.autoSave = 1
          this.updateCategory('list', {
            ...this.currentList,
            [field]: val
          }, false).then(() => {
            this.autoSave = 2
            this.timer = null
          })
        }
        if (field === 'name' && val === '') {
          setTimeout(() => {
            clearTimeout(this.timer)
            this.timer = null
            this.currentList.isNameEmpty = true
            common()
          }, 200)
        }
        this.autoSave = 0
        this.timer = setTimeout(common, 5 * 1000)
      },
      // 删除任务
      deleteListName() {
        if (this.currentList.isNameEmpty) {
          // 此时需要删除任务
          const itemIndex = this.todoList.findIndex(x => x.objectId === this.currentCategory.objectId)
          const listIndex = this.currentCategory.list.findIndex(x => x.id === this.currentList.id)
          this.todoList[itemIndex].list.splice(listIndex, 1)
          db.updateTodo({ list: this.currentCategory.list }, this.currentCategory.objectId).then(() => {
            console.log('删除成功')
          })
        }
      },
      selectCategory(item) {
        this.beforeSelect().then(() => {
          this.activeCategoryId = item.objectId
          this.setActiveListId()
        })
      },
      async selectList(item) {
        await this.beforeSelect()
        this.activeListId = item.id
      },
      beforeSelect() {
        if (this.timer) {
          this.$message({
            message: '请等待保存完成'
          })
          return Promise.reject()
        }
        return Promise.resolve()
      },
      setActiveListId() {
        this.$nextTick(() => {
          const { complete, unComplete } = this.currentCategoryList
          this.activeListId = unComplete[0] ? unComplete[0].id : complete[0] && complete[0].id
        })
      }
    },
    template: document.getElementById('app-tpl').innerHTML
  }

  const Login = {
    data() {
      return {
        currentUser: null,
        formLabelAlign: {
          name: '',
          password: ''
        },
        rules: {
          name: [
            { required: true, message: '请输入用户名', trigger: 'blur' },
            { min: 1, max: 10, message: '长度在 1 到 10 个字符', trigger: 'blur' }
          ],
          password: [
            { required: true, message: '请输入密码', trigger: 'blur' }
          ]
        },
        hasLogin: false
      }
    },
    computed: {
      isLogin() {
        return !this.$route.query.register
      }
    },
    watch: {
      isLogin() {
        this.currentUser = db.getCurrentUser()
        if (this.currentUser) {
          this.hasLogin = true
        }
      }
    },
    created() {
      this.currentUser = db.getCurrentUser()
      if (this.currentUser) {
        this.hasLogin = true
        db.syncLocal()
      }
    },
    methods: {
      submitForm() {
        this.$refs['ruleForm'].validate((valid) => {
          if (valid) {
            if (this.isLogin) {
              this.handleLogin()
            } else {
              this.handleRegister()
            }
          } else {
            // console.log('error submit!!')
            return false
          }
        })
      },
      resetForm() {
        this.$refs['ruleForm'].resetFields()
      },
      handleLogin() {
        const loading = this.$loading()
        db.login(this.formLabelAlign).then(() => {
          location.reload()
        }).catch(e => {
          loading.close()
          this.$message({
            message: e.msg,
            type: 'error'
          })
        })
      },
      handleOut() {
        db.logout().then(() => {
          location.reload()
        })
      },
      handleRegister() {
        const loading = this.$loading()
        db.register(this.formLabelAlign).then(res => {
          this.$message({
            message: res.msg,
            type: 'success'
          })
          loading.close()
          history.back()
        }).catch(e => {
          loading.close()
          this.$message({
            message: e.msg,
            type: 'error'
          })
        })
      }
    },
    template: document.getElementById('login-tpl').innerHTML
  }

  const routes = [
    {
      path: '/',
      component: App,
      meta: {
        title: '',
        auth: true
      }
    },
    {
      path: '/login',
      component: Login,
      meta: {
        title: '',
        auth: false
      }
    }
  ]

  const router = new VueRouter({
    routes // (缩写) 相当于 routes: routes
  })

  router.beforeEach((to, from , next)=> {
    // 此处要做匹配，否则会陷入死循环，路由解析失败
    if (
        to.matched.some(item=> item.meta.auth) &&
        !db.getCurrentUser()
    ) {
      next('/login')
    } else {
      next()
    }
  })

  const app = new Vue({
    router
  }).$mount('#app')
</script>
</body>
</html>
